body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.nav-links {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.active {
  text-decoration: underline;
}

.navbar-container {
  border-bottom: solid 1px #e8e8e8;
}

.mission-title {
  font-weight: bold;
}

td {
  vertical-align: middle;
}

.join-column {
  width: 10%;
}

.join-container {
  text-align: center;
}

.badge {
  margin-top: 18px;
}

.rocket-img {
  width: 100%;
}

ul {
  list-style: none;
}

.reservation-btn {
  width: 170px;
}

.page-padding-top {
  padding-top: 150px;
}
